    <link rel="import" href="links-scripts.html">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="http://sbtechnosoft.com/barrister/about-us.html">About Us</a></li>
        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://sbtechnosoft.com/barrister/about-us.html">About Us</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/faq.html">FAQ</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/our-team.html">Our Team</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/gallery.html">Gallery</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/404.html">404</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://sbtechnosoft.com/barrister/services.html">Services</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/service-details.html">Service Details</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://sbtechnosoft.com/barrister/blog.html">Blog</a></li>
                <li><a href="http://sbtechnosoft.com/barrister/blog-details.html">Blog Details</a></li>
            </ul>
        </li>
        <li><a href="http://sbtechnosoft.com/barrister/contact-us.html">Contact Us</a></li>
    </ul>